<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
  <p>Hey There!</p>

  <p>Welcome to DayTrip!</p>

  <p>Please click the link below to verify your email address and start planning your sightseeing!</p>

  <a href="http://daytrip.com">Day Trip Armenia</a>

  <p>Thanks for joining DayTrip, we hope you enjoy every moment of it!</p>

  <br>
  <br>

  <p>
  <div>Our best,</div>
  <div>DayTrip Armenia.</div>
  </p>
  </body>
</html>