<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
    <h4>The user <%= @user.name %> with email '<%= @user.email %>' has changed car details</h4>
  </body>
</html>