<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
  <p>Dear <%= @user.name %>,</p>
  <p>Welcome to DayTrip!</p>
  <p>We are pleased to inform you that your account has been approved. You can now proceed to setting up your Calendar so your listing is available for DayTrip travelers. </p>

  <p>Please login to your account to continue.</p>
  <p>{link}</p>
  <p>We wish you a wonderful journey through DayTrip!</p>
  <br>
  <p>
    <div>Our best,</div>
    <div>DayTrip Armenia</div>
  </p>
  </body>
</html>