<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
  <p>Hey There!</p>

  <p>Someone has just created a new Driver account. Follow the link below for verification.</p>
  <p><%= admin_driver_url(@user.id) %></p>
  <br>

  <p>
  <div>Our best,</div>
  <div>DayTrip Armenia.</div>
  </p>
  </body>
</html>