<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
  <p>Dear <%= @user.name %>,</p>

  <p>We are pleased to inform you that your account changes have been approved. Please login and update your Calendar to continue. </p>

  <br>
  <p>Thanks for using DayTrip!</p>
  <p>
    <div>Our best,</div>
    <div>DayTrip Armenia</div>
  </p>
  </body>
</html>