<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
    <p>Dear <%= @user.name %>,</p>

    <p>You have made some changes in your account that need further verification.</p>

    <p>Please be informed that your account has been temporarily suspended and your listing is currently unavailable for DayTrip travelers.</p>

    <p>Please also be notified that all your upcoming bookings have been canceled.</p>

    <p>You will receive an email notification about your status shortly.</p>

    <br>

    <p>Thanks for using DayTrip!</p>
    <p>
    <div>Our best,</div>
    <div>DayTrip Armenia.</div>
    </p>
  </body>
</html>