<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
    <p>Dear <%= @user.name %>,</p>
    <p>
      Your registration request has been declined.
    </p>
    <p>
      Please contact the Day Trip for more information.
    </p>
  </body>
</html>