<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
  <p>Dear <%= @user.name %>,</p>

  <p>Please be informed that your account changes have been rejected by DayTrip team. Please also be notified that your listing will be unavailable for DayTrip travelers unless your account changes are approved.</p>

  <p>Please contact us for further details.</p>

  <br>
  <p>We will be happy to help you!</p>
  <p>
    <div>Our best,</div>
    <div>DayTrip Armenia</div>
  </p>
  </body>
</html>