<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
    <p>The user <%= @user.name %> with email '<%= @user.email %>' successfuly completed registration.</p>
  </body>
</html>