<html>
  <head>
    <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
  </head>

  <body>
  <p>Dear <%= @user.name %>,</p>
  <p>
    We’re happy to inform you that your account changes have been approved.
  </p>
  </body>
</html>