// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!

@import "active_admin/mixins";
@import "active_admin/base";

@import "wigu/active_admin_theme";

@import 'activeadmin/quill_editor_input';
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

//Custom CSS styles for back office

select[multiple] > option {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5em !important;
  padding: 5px;
  font-size: 1.2em;
  color: #323537;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.filter_form_field select {
  padding: 5px;
  border-radius: 3px;
}
.status_tag {
  padding: 7px;

  &.orange {
    background-color: #FFBB00;
  }
  &.green{
    background-color: #228B22;
  }
  &.red{
    background-color: #FF0000;
  }
}
.image_container {
  width: 760px;
  height: 540px;
  object-fit: contain;
}
.no_ponter{
  list-style:none;
}