<html>
<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
<p>Hey There!</p>

<p>Welcome to DayTrip!</p>

<p>Please click the link below to verify your email address and start your DayTrip journey!</p>

<p><%= link_to 'Confirm my account', "https://localhost:3001/home?confirmation_token=#{@token}" %></p>

<p>Thanks for joining DayTrip, we hope you enjoy every moment of it!</p>

<br>

<p>
<div>Our best,</div>
<div>DayTrip Armenia.</div>
</p>
</body>
</html>